/*---header---*/
@media only screen and (min-width: 450px) {
	.product-wrapper {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.product-wrapper {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1000px) {
	.product-wrapper {
		width: 25%;
	}
}
header{
	background-color: #339966;
  	margin: 0px;
  	height: 157px;
  	width: auto;
  	padding-bottom: 0px;
}
.top-bar{
  	display: flex;
  	flex-direction: row;
}
.header-items{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    justify-content: center;
    align-items: center;

}
.header-items a{
    text-decoration: none;
    color: #fff;
}
.header-items h2{
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-weight: 600;
	font-size: 35px;
	margin: 7px 0px 0px 0px;
	margin-right: 25px;
	margin-left: 20px;
}
.header-items input{
	background-color: #76BB98;
	color: #F8FCFA;
	width: 527px;
	height: 47px;
	border-style: solid;
	border-color: #76BB98;
	border-width: 1px;
	border-radius: 10px;
	font-family: Roboto;
	font-size: 15px;
	padding: 6px 0 4px 35px;
}
.call-name{
	font-family: Roboto;
	font-size: 12px;
	font-weight: 400;
	color: #fff;
	margin-left: 45px;
	display: flex;
	flex-direction: row;
}
.call{
	height: auto;
	width: auto;
	display: flex;
	flex-direction: column;
	margin-right: 25px;
	margin-left: 20px;
}
.call-name a{
	width: 100%;
	margin: 7px 0px 0px 0px;
	margin-right: 0px;
	text-decoration: none;
	color: #fff;
}
.fa-chevron-down{
    color: #fff;
    margin: 10px 0px 0px 0px;
    margin-right: 15px
}
.call h4{
	color: #fff;
	margin-left: 15px;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 2px;
	margin-top: 10px;
}
.city-name{
	height: auto;
	width: auto;
	display: flex;
	flex-direction: row;
	margin-right: 40px;
	margin-left: 10px;
}
.city-name span{
	width: 100%;
	margin: 7px 0px 0px 0px;
	margin-right: 0px;
}
.city-name i{
	margin: 10px 0px 0px 10px;
	margin-right: 15px
}
.fa-map-marker-alt{
	font-size: 24px;
	margin-left: 25px;
    color: #fff;
    margin-bottom: 10px;
}
.basket{
	margin-left: 25px;
	display: flex;
	flex-direction: column;
}
.basket i{
    font-size: 24px;
	margin-left: 5px;
    color: #fff;
    margin-bottom: 10px;
}
.basket{
	height: auto;
	width: auto;
	display: flex;
	flex-direction: column;
	margin-right: 25px;
	margin-left: -10px;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 400;
	color: #fff;
}
.basket span{
	width: 100%;
	margin: 7px 0px 0px 0px;
	margin-right: 0px;
}
.city{
	margin-left: 20px;
}
.city-name{
	color: #fff;
	margin-left: 15px;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 400;
}
.nav-items{
	list-style: none;
	display: inline-flex;
	color: #fff;
	opacity: 79%;
	font-family: Roboto;
	font-weight: 400;
}
.nav-items a{
	color: #fff;
	opacity: 79%;
	text-decoration: none;
}
.nav-items li{
	margin: 5px;
}
.menu-icon{
	margin-left: 45px; 
	width: 55px;
	height: 55px;
	border-style: solid;
	border-width: 1px;
	border-color: #fff;
	border-radius: 12px;
}
.lines{
	margin: 13px 0px 5px 7px;
	position: relative;
}
.bar{
	border-style: solid;
	border-color: #fff;
	border-width: 1px;
	border-radius: 10px;
	width: 39px;
    height: 1px;
    background-color: #fff;
    margin: 10px 0;

}
/*---end-header---*/
/*---footer---*/
.footer{
	background-color: #339966;
}
.footer-lists{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	display: flex;
	flex-direction: row;
	color: #fff;
	padding-top: 30px;
}
.footer-lists a{
	opacity: 66%;
	text-decoration: none;
	color: #fff;
}
.footer-lists ul{
	list-style: none;
	margin-right: 80px;
}
.footer-lists li{
	margin-bottom: 10px;
}
.footer-lists button{
	width: 210px;
	height: 45px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	background-color: transparent;
	border-color: #fff;
	color: #fff;
	display: flex;
	flex-direction: row;
	padding: 0px;
	align-items: center;
}
.footer-lists p{
	margin-left: 10px;
    padding-top: 15px;
}
.head-footer{
	font-weight: 700;
	padding-bottom: 25px;
}
.footer-lists img{
	background-color: #fff;
}
.button-img{
	height: 45px;
	background-color: #fff;
	width: 45px;
	border-radius: 10px 0px 0px 10px;
}
.button-img i{
	font-size: 24px;
	margin-top: 8px;
    color: #339966;
}
.email-footer{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.email-footer input{
	height: 40px;
	background-color: transparent;
	border-style: solid;
	border-width: 1px;
	border-width: 1px;
	border-color: #fff;
	border-radius: 10px 0px 0px 10px;
	width: 55%;
	color: #fff;
	padding-left: 20px;
}
.email-footer button{
	height: 45px;
	background-color: #fff;
	color: #000;
	border-style: solid;
	border-width: 1px;
	border-width: 1px;
	border-color: #fff;
	border-radius: 0px 10px 10px 0px;
	width: 45%;
	padding-left: 10px;
}
.social{
	display: flex;
	flex-direction: row;
	padding-left: 0px;
}
.social li{
	margin-right: 15px;
}
.social i{
    font-size: 24px;
}
.social a{
    color: #fff;
    opacity: 100%;
}
.yandex img{
	background-color: transparent;
	width: 50%;
	height: 50%;
}
.copyrite{
	margin-top: 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	display: flex;
	flex-direction: row;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.copy-text{
	opacity: 66%;
}
.copyrite ul{
	list-style: none;
	display: flex;
	flex-direction: row;
}
.copyrite img{
	height: 80%;
	width: 80%;
}
/*---end-footer---*/
body{
	background-color: #EEEEEE;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	}
.link-list a{
	color: #808080;
}
.link-list li{
	margin-right: 5px;
}
.link-list ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	color: #808080;
}
.headncount{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 40px;
}
.headncount h1{
	margin-right: 10px;
	margin-bottom: 0px;
}
.headncount p{
	color: #616161;
	margin-top: 45px; 
}
.catalog-list{
    margin-left: 10px;
}
.catalog-list ul{
	display: flex;
	flex-direction: row;
	list-style: none;
	color: #339966;
}
.catalog-list li{
	color: #339966;
	margin-right: 10px;
}
.catalog-list a{
	color: #339966;
}
.line{
	height: 1px;
	width: inherit;
	background-color: #D8D8D8;
	margin-bottom: 30px;
}
.buttons{
    margin-left: 40px;
}
.buttons button{
    border-radius: 15px;
    background-color: transparent;
    border-width: 1px;
    border-color: #E1E1E1;
    border-style: solid;
    padding: 10px 10px 10px 10px;
}
.fa-exchange-alt{
    transform: rotate(90deg);
}
.popular{
    margin-left: 750px;
}
.shipments{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	margin-left: 40px;
	margin-right: 10px;
}
.shipment-row{
	display: flex;
	flex-direction: row;
}
.shipment{
	width: 200px;
	height: 300px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.product-photo{
	width: 100%;
	height: 65%;
	position: relative;
}
.product-photo a{
	color: #000;
}
.product-photo img{
	width: 100%;
	height: 100%;
}
.fa-heart{
	position: absolute;
	top: 35px;
	right: 10px;
}
.sell-rectangle{
	display: flex;
	text-align: center;
	justify-content: center;
	background-color: #339966;
	border-radius: 8px;
	width: 40px;
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	padding: 2px 0;
	position: absolute;
	bottom: 40px;
	left: 10px;
}
.costs{
	display: flex;
	flex-direction: row;
}
.costs h5{
	color: #339966;
	font-size: 16px;
}
.costs h6{
	color: #999999;
	font-size: 12px;
	margin-right: 25px;
	margin-left: 5px;
	margin-top: 5px;
	text-decoration: line-through;
}
.costs i{
	color: #000000;
}
.namespace{
	display: flex;
	flex-direction: column;
}
.namespace h6{
	color: #A0A0A0;
}
.namespace h5{
	color: #000000;
	font-size: 16px;
}
.star-count{
	font-weight: normal;
	font-style: normal;
	margin-right: 5px;
}
.fa-star{
	color: #E67E22;
	margin-right: 5px;
}
.rating span{
	color: #797979;
}
.text-block{
	margin-bottom: 75px;
}
.text-block ul{
	list-style: none;
}
.text-block li{
	margin-bottom: 15px;
}
.pages{
	margin-top: 50px;
	margin-bottom: 100px;
	position: relative;
}
.next-page{
	position: absolute;
	bottom: 15px;
	left: 1135px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-self: right;
	align-content: center;
	align-self: end;
}
.next-page a{
	text-decoration: none;
	color: #000000;
}